:root {
  --white: #fff;
}

#body-container {
  display: flex;
  justify-content: center;
}

#content-container {
  background: var(--white);
  height: 65%;
  width: 65%;
  position: absolute;
  top: 125px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#title {
  display: flex;
}

#title p {
  font-weight: bold;
  margin: 0 0 0 5px;
}

#buttons-container {
  display: flex;
  margin: 10px;
}

#buttons-container :active {
  background: rgba(241, 241, 241, 1);
  background: linear-gradient(
    148deg,
    rgba(241, 241, 241, 1) 0% rgba(255, 255, 255, 1) 100%
  );
}

.buttons {
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    148deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  margin: 0 20px 0 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(241, 241, 241, 1);
}

.buttons-title {
  margin: 20px 0 0 0;
}
